 .u-section-1 {
  background-image: linear-gradient(#292d33, #555c66);
  min-height: 700px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 701px;
  --animation-custom_in-translate_x: -100px;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-1 .u-text-1 {
  margin: 94px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 5rem;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 8px 8px 0 0;
}

.u-section-1 .u-text-3 {
  line-height: 2.2;
  font-weight: 700;
  margin: 73px 20px 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-image-1 {
  width: 450px;
  height: 450px;
  background-image: url("images/LinkedinPhoto2.jpg");
  background-position: 50% 50%;
  margin: -294px 50px 0 auto;
}

.u-section-1 .u-text-4 {
  line-height: 2.2;
  font-weight: 700;
  margin: -156px 18px 0 2px;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  padding: 0;
}

.u-section-1 .u-line-1 {
  width: 482px;
  transform-origin: left center 0px;
  margin: -176px auto 0 0;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 232px auto 0 0;
  padding: 15px 97px 15px 95px;
}

.u-section-1 .u-icon-1 {
  margin-left: 5px;
  vertical-align: 0px;
  font-size: 0.8334em;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 702px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
    margin-bottom: 8px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 578px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 22px;
  }

  .u-section-1 .u-text-2 {
    font-size: 4.25rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    width: 383px;
    height: 383px;
    margin-top: -333px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -131px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 431px;
    margin-top: -133px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -7px;
    margin-right: -7px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1304px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
    margin-bottom: 14px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 70px;
    padding-right: 200px;
    padding-bottom: 50px;
  }

  .u-section-1 .u-line-1 {
    width: 321px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 1213px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
    margin-bottom: 13px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-top: -294px;
    margin-right: 50px;
  }

  .u-section-1 .u-line-1 {
    margin-top: -129px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: auto;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 1002px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 55px;
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    margin-right: 3px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 320px;
    margin-top: -332px;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: 13px;
  }

  .u-section-1 .u-line-1 {
    width: 320px;
    margin-top: -204px;
    margin-left: 2px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 218px;
    margin-left: auto;
    padding-top: 14px;
    padding-right: 45px;
    padding-left: 44px;
  }
} .u-section-2 {
  background-image: linear-gradient(#555c66, #292d33);
}

.u-section-2 .u-sheet-1 {
  min-height: 1660px;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 2px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  width: 724px;
  font-weight: 600;
  font-style: italic;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-2 .u-list-1 {
  height: auto;
  width: 867px;
  margin: 34px auto 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 1364px;
  grid-gap: 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 21px 0;
}

.u-section-2 .u-line-1 {
  margin-top: 9px;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center 0px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-3 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-group-1 {
  width: 568px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 0 0 auto;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  margin: 21px 42px 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 21px 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -241px auto 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-2 .u-line-2 {
  margin-top: 9px;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-8 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-group-2 {
  width: 568px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 0 0 auto;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  font-family: Poppins;
  margin: 21px 42px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 21px 0 0;
}

.u-section-2 .u-text-12 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -241px auto 0 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 21px 0;
}

.u-section-2 .u-line-3 {
  margin-top: 9px;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-13 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-group-3 {
  width: 568px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 0 0 auto;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-14 {
  font-weight: 700;
  font-family: Poppins;
  margin: 21px 42px 0 0;
}

.u-section-2 .u-text-15 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-16 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 21px 0 0;
}

.u-section-2 .u-text-17 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -241px auto 0 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 21px 0;
}

.u-section-2 .u-line-4 {
  margin-top: 9px;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-2 .u-text-18 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px auto 0 0;
}

.u-section-2 .u-group-4 {
  width: 568px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -45px 0 0 auto;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 30px 30px;
}

.u-section-2 .u-text-19 {
  font-weight: 700;
  font-family: Poppins;
  margin: 21px 42px 0 0;
}

.u-section-2 .u-text-20 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  font-style: italic;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-21 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 21px 0 0;
}

.u-section-2 .u-text-22 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -241px auto 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -90px auto 33px;
  padding: 15px 97px 15px 95px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 681px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-line-1 {
    margin-left: initial;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-line-2 {
    margin-left: initial;
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-line-3 {
    margin-left: initial;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-line-4 {
    margin-left: initial;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-group-1 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-2 .u-group-2 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-2 .u-group-3 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 20px;
  }

  .u-section-2 .u-group-4 {
    animation-duration: 1000ms;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-2 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-3 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-2 .u-group-4 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2149px;
  }

  .u-section-2 .u-text-1 {
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 0;
  }

  .u-section-2 .u-group-2 {
    width: 340px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 0;
  }

  .u-section-2 .u-group-3 {
    width: 340px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 0;
  }

  .u-section-2 .u-group-4 {
    width: 340px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#292d33, #555c66);
}

.u-section-3 .u-sheet-1 {
  min-height: 1362px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 50px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-family: Poppins;
  width: 724px;
  font-weight: 600;
  font-style: italic;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  height: auto;
  width: 867px;
  margin: 34px auto 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: 100%;
  min-height: 1019px;
  grid-gap: 0px 0px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-3 .u-line-1 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-text-3 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-3 .u-group-1 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  font-family: Poppins;
  transition-duration: 1s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 0 0;
}

.u-section-3 .u-line-2 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-3 .u-group-2 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-family: Poppins;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px 0 0;
}

.u-section-3 .u-line-3 {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  margin-left: 0;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-3 .u-text-9 {
  font-size: 1rem;
  font-family: Poppins;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 20px 632px 0 0;
}

.u-section-3 .u-group-3 {
  width: 598px;
  min-height: 286px;
  height: auto;
  --animation-custom_in-translate_x: 100px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -20px 0 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 30px 30px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  font-family: Poppins;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto 0 0;
}

.u-section-3 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-11 {
  font-size: 1.25rem;
  font-family: Poppins;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: -20px auto 55px;
  padding: 15px 97px 15px 95px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    width: 681px;
  }

  .u-section-3 .u-line-1 {
    margin-left: initial;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-line-2 {
    margin-left: initial;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-line-3 {
    margin-left: initial;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-btn-4 {
    margin-top: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-1 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-2 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 20px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 485px;
  }

  .u-section-3 .u-group-3 {
    width: 450px;
    animation-duration: 1000ms;
    margin-top: -25px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-2 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 10px;
    padding-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 305px;
  }

  .u-section-3 .u-group-3 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-right: 10px;
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2149px;
  }

  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 105px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 105px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 105px;
  }
}

.u-section-3 .u-text-4,
.u-section-3 .u-text-4:before,
.u-section-3 .u-text-4 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-4.u-text-4.u-text-4:hover {
  color: #f1c50e !important;
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-4.u-text-4.u-text-4.hover {
  color: #f1c50e !important;
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-4 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7,
.u-section-3 .u-text-7:before,
.u-section-3 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-7.u-text-7.u-text-7:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-7.u-text-7.u-text-7.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-7 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-10,
.u-section-3 .u-text-10:before,
.u-section-3 .u-text-10 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-3 .u-text-10.u-text-10.u-text-10:hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-text-10.u-text-10.u-text-10.hover {
  transform: scale(1.15) translateX(0px) translateY(0px) !important;
}

.u-section-3 .u-container-layout:hover .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-3 .u-text-10 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-4 {
  background-image: linear-gradient(#555c66, #292d33);
}

.u-section-4 .u-sheet-1 {
  min-height: 534px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  width: 723px;
  margin: 60px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.125rem;
  width: 746px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 40px auto 0;
}

.u-section-4 .u-list-1 {
  grid-template-rows: auto;
  margin: 99px 0 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px) calc(33.3333% - 13.3333px);
  min-height: 193px;
  grid-gap: 20px 20px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-text-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-text-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-text-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-5 {
  padding: 0;
}

.u-section-4 .u-text-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
}

.u-section-4 .u-container-layout-6 {
  padding: 0;
}

.u-section-4 .u-text-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 50px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  font-size: 1.625rem;
  background-image: none;
  margin: 0 29px;
}

.u-section-4 .u-btn-6 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-list-1 {
    margin-top: 447px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 162px;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 277px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-8 {
    font-size: 1.5rem;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    width: 720px;
  }

  .u-section-4 .u-text-2 {
    width: 720px;
  }

  .u-section-4 .u-list-1 {
    margin-top: 99px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 9.99997px) calc(50% - 9.99997px);
    min-height: 289px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 315px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    width: 540px;
  }

  .u-section-4 .u-text-2 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-3 {
    margin-top: 461px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    width: 340px;
  }

  .u-section-4 .u-text-2 {
    width: 340px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 299px;
  }
} .u-section-5 {
  background-image: linear-gradient(#292d33, #555c66);
}

.u-section-5 .u-sheet-1 {
  min-height: 699px;
}

.u-section-5 .u-group-1 {
  width: 591px;
  min-height: 619px;
  height: auto;
  margin: 1px auto 0 0;
}

.u-section-5 .u-container-layout-1 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  line-height: 2;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 35px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgba(0,0,0,0);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 53px auto 0 0;
  padding: 15px 96px 15px 95px;
}

.u-section-5 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 525px;
  margin: -586px 0 113px auto;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 533px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-group-2 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-5 .u-text-3 {
  font-size: 1.875rem;
  font-weight: 700;
  box-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-5 .u-text-4 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-group-3 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-5 .u-text-5 {
  font-size: 1.875rem;
  font-weight: bold;
  box-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-5 .u-text-6 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-group-4 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.875rem;
  font-weight: bold;
  box-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-5 .u-text-8 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

.u-section-5 .u-container-layout-8 {
  padding: 30px 30px 24px;
}

.u-section-5 .u-group-5 {
  width: 149px;
  min-height: 149px;
  background-image: none;
  text-shadow: 0px 0px 0 rgba(0,0,0,0);
  height: auto;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 1;
  margin: 14px auto 0;
}

.u-section-5 .u-text-9 {
  font-size: 1.875rem;
  font-weight: bold;
  box-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0);
  transition-duration: 1s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 auto;
}

.u-section-5 .u-text-10 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 875px;
  }

  .u-section-5 .u-group-1 {
    width: 435px;
    min-height: 755px;
    height: auto;
  }

  .u-section-5 .u-list-1 {
    width: 488px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 553px;
  }

  .u-section-5 .u-text-3 {
    font-size: 2.25rem;
    transition-duration: 0.5s;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
  }

  .u-section-5 .u-text-7 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
  }

  .u-section-5 .u-text-9 {
    font-size: 2.25rem;
    font-weight: 700;
    transition-duration: 0.5s;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1347px;
  }

  .u-section-5 .u-group-1 {
    min-height: 616px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-text-1 {
    margin-top: 17px;
  }

  .u-section-5 .u-btn-1 {
    margin-left: auto;
    padding-top: 14px;
  }

  .u-section-5 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 576px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-bottom: 30px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-group-1 {
    margin-top: 116px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    margin-top: 0;
  }

  .u-section-5 .u-list-1 {
    grid-template-rows: auto;
    margin-top: 0;
    margin-bottom: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2105px;
  }

  .u-section-5 .u-group-1 {
    min-height: 850px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0;
  }

  .u-section-5 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 1159px;
    margin-bottom: -1070px;
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .u-section-5 .u-list-1 {
    margin-top: -100px;
    margin-bottom: 60px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

.u-section-5 .u-text-3,
.u-section-5 .u-text-3:before,
.u-section-5 .u-text-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-3 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-3 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-text-3 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-3 {
  border-color: transparent !important;
}

.u-section-5 .u-text-5,
.u-section-5 .u-text-5:before,
.u-section-5 .u-text-5 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-5 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-5 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-text-5 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-5 {
  border-color: transparent !important;
}

.u-section-5 .u-text-7,
.u-section-5 .u-text-7:before,
.u-section-5 .u-text-7 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-7 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-7 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-text-7 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-7 {
  border-color: transparent !important;
}

.u-section-5 .u-text-9,
.u-section-5 .u-text-9:before,
.u-section-5 .u-text-9 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-5 .u-container-layout:hover .u-text-9 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-9 {
  border-color: transparent !important;
}

.u-container-layout.hover .u-section-5 .u-text-9 {
  transform: translateX(0px) translateY(0px) scale(1.5) !important;
  box-shadow: 0px 0px 0px  rgba(var(---r),var(---g),var(---b),0) !important;
  text-shadow: 0px 0px 0px rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-section-5 .u-text-9 {
  border-color: transparent !important;
}